.overAllWrapper {
  margin: 20px 0px 0px 30%;
}

.wrapperContent {
  display: flex;
  padding: 1%;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 10px;

  border: 1px solid #1a76d2;
}

.inputTag {
  padding-left: 45%;
}

.liTag {
  list-style: none;
  margin: 0 0 0 20px;
}
.liStrike {
  list-style: none;
  text-decoration: line-through;
  margin: 0 0 0 20px;
}
.delete {
  margin-left: auto;
}
.delete:hover {
  background-color: red;
  margin-left: auto;
}
