.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.container {
  padding: 10px 16px;
  border: 1px solid black;
}
.button {
  margin-left: 20px;
}
